* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geometria', 'Arial Black', 'Arial';
}

@font-face {
	font-family: 'Arial Black';
	src: url('fonts/arial_black/'); /* IE 9 Compatibility Mode */
	src: url('fonts/arial_black/?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/arial_black//fonts/arial_black.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/arial_black//fonts/arial_black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/arial_black//fonts/arial_black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/arial_black//fonts/arial_black.svg#arial_black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Geometria';
	src: url('fonts/geometria/'); /* IE 9 Compatibility Mode */
	src: url('fonts/geometria/?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/geometria//fonts/geometria.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/geometria//fonts/geometria.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/geometria//fonts/geometria.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/geometria//fonts/geometria.svg#geometria') format('svg'); /* Chrome < 4, Legacy iOS */
}

section {
    background-color: #242424;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.click {
    transition: all 30ms ease;
}
.click:hover {
    transform: scale(1.1);
}

.click.active {
    transform: scale(0.8);
}


li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.color-description {
    color: #f06449 !important;
}

.title,
.header__para {
    color: white;
}
/* 

   ------------------------------- LANDING-PAGE -------------------------------

*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

.social__list {
    margin-top: 16px; 
    display: flex;
}

.social__link {
    background-color: #f06449;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn {
    width:  70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #f06449;
    color: white;
    position: absolute;
    bottom: 32px;
    right: 40px;
}

.scroll {
    position: absolute;
    color: white;
    bottom: 20px;
    left: 50%;
    font-size: 32px;

}

.scroll:hover {
    animation: bounce 2s infinite alternate-reverse;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }



/* 

    ------------------------------- NAVIGATION -------------------------------

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

#personal-logo {
    width: 50px;
    height: 50px;
    filter: invert(1); 
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
    color: white;
}

.nav__link--anchor {
    font-size: 16px;
    color: white;
}

.fa-adjust {
    font-size: 20px;
}

/* 

   ------------------------------- PROJECTS -------------------------------

*/

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    color: white;
}

.project__img {
    width: 45%;
}

.project__wrapper {
    position: relative;
}

.project__img--2first, .project__img--2second {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

.project__description-0 {
    position: absolute;
    top: 20%;
    left: 100px;
    width: 30%;
    transform: translateY(-50%);
    color: white;
}

.project__description-1 {
    position: absolute;
    top: 20%;
    right: 100px;
    width: 30%;
    transform: translateY(-50%);
    color: white;
}
.project__description-2 {
    position: absolute;
    bottom: 10%;
    left: 100px;
    width: 30%;
    transform: translateY(-50%);
    color: white;
}

.project__description-3 {
    position: absolute;
    bottom: 10%;
    right: 100px;
    width: 30%;
    transform: translateY(-50%);
    color: white;
}


